#root, .App, html, body{
  height: 100%;
}

.main-container{
  height: 70%
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

.title{
  font-size:30px;
  font-weight: bold;
  margin-bottom: 3%;
}

.sign-in{
  border-style: solid;
  width: 20%;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(250,250,300)
}

.input{
  margin: 0 0 15px 0;
  font-size: 25px;
}

.portfolio{
  height: 100%;
  width: 100%;
  text-align: center;
}

.portfolio-body{
  display: flex;
  justify-content: space-around;
  height:100%;
  width:100%;
  margin-top:3%;
}

.portfolio-left{
  float:left;
  display: flex;
  flex-direction: column;
  width:45%;
}

.portfolio-list{
  overflow-y:scroll;
  max-height:500px;
}

.portfolio-right{
  float: right;
  width:50%;
  height:100%;
  border-left: solid;
  justify-content: center;
}

.portfolio-line-item{
  text-align: center;
  border-bottom: solid;
  padding-bottom: 15px;
  width: 100%;
  margin-bottom: 3%;
  display:flex;
  justify-content: space-around;
  font-size: 20px;
}

.portfolio-line-item-left{
  float: left;
  text-align:left;
}

.portfolio-line-item-right{
  float: right;
}

.attribution{
  position: fixed;
  bottom: 0
}

.buttons{
  font-size:20px;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  border-width: 2px;
  border-color: black;
}

.buttons:active, .buttons:visited{
  text-decoration: none;
  outline:none;
}

.buttons:hover{
  background-color: rgb(50,50,200);
  color:white;
  border-color: navy;
  cursor: pointer;
}

.header{
  text-align:right;
  padding: 10px 20px 0 0;
  font-size:25px;
}

.link, .link:active, .link:visited{
  text-decoration: none;
  font-weight:bold;
  color:black;
}

.link:hover{
  color:rgb(50,50,250);
  cursor: pointer;
}

.transactions{
  height: 100%;
}

.transactions-body{
  text-align: center;
  width: 38%;
  margin: auto;
  font-size: 20px;
  overflow-y: scroll;
}

.transactions-header{
  text-align: center
}

.transactions-line-item{
  font-weight: bold;
  display: flex;
  border-bottom: solid;
  padding: 3%;
}

.transactions-line-item-left{
  width:20%;
  text-align:left;
  margin-left: 5%;
}

.transactions-line-item-right{
  width:70%;
  text-align:left;
  margin-left: 10%;
}

.salesCost{
  text-align:left !important;
  justify-content: left 
}

.line-item-text{
  font-weight:bold;
}

.errors{
  font-weight: bold;
  color: red;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}