#root, .App, html, body{
  height: 100%;
}

.main-container{
  height: 70%
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

.title{
  font-size:25px;
  font-weight: bold;
  /* margin-bottom: 10px; */
}

.sign-in{
  border-style: solid;
  width: 20%;
  margin: auto;
  padding: 10px;
}

.input{
  margin: 5px;
  font-size: 25px;
}

.portfolio{
  height: 100%;
  width: 100%;
  text-align: center;
}

.portfolio-body{
  display: flex;
  justify-content: space-around;
  height:100%;
  width:100%;
  margin-top:3%;
}

.portfolio-left{
  float:left;
  display: flex;
  flex-direction: column;
  width:45%;
}

.portfolio-right{
  float: right;
  width:50%;
  height:100%;
  border-left: solid;
  justify-content: center;
}

.portfolio-line-item{
  text-align: center;
  border-bottom: solid;
  padding-bottom: 15px;
  width: 100%;
  margin-bottom: 3%;
  display:flex;
  justify-content: space-around;
  font-size: 20px;
}

.portfolio-line-item-left{
  float: left;
}

.portfolio-line-item-right{
  float: right;
}

.attribution{
  position: fixed;
  bottom: 0
}

.buttons{
  font-size:20px;
  margin: 0 5px 5px 5px;
  border-radius: 10px;
}

.header{
  text-align:right;
  padding: 10px 20px 0 0;
}

.transactions{
  height: 100%;
}

.transactions-body{
  text-align: center;
  width: 30%;
  margin: auto;
  font-size: 20px;
}

.transactions-header{
  text-align: center
}

.transactions-line-item{
  font-weight: bold;
  display: flex;
  border-bottom: solid;
  padding: 3%;
}

.transactions-line-item-left{
  width:20%;
  text-align:left;
  margin-left: 10%;
}

.transactions-line-item-right{
  width:70%;
  text-align:left;
  margin-left: 10%;
}

.salesCost{
  text-align:left !important;
  justify-content: left 
}

